@charset "UTF-8";
body{
	background-color:lightblue;
	
}

#cname{
	color:brown;
	text-align: center;
	font-size: 40px;
	background-color:beige
}

.ha{
	width: 20px;
	height:20px;
	font-size: 20px;
	background-color:yellow;
	border: 20px red;
	margin: 20px;
	padding: 10px;
	border-radius:10px;
	text-decoration: none;
	
}

#logo{
	width: 60px;
	height:60px;
}

#h1Serv{
	color:brown;
	text-align: center;
}

#ul2{
	  border: 2px solid red;
	  width:40%;
	  position: relative;
	  display: inline-block;
	  
	  
	
}

#ul1{
	  border: 2px solid red;
	   width:40%;
	     position: relative;
	  display: inline-block;
	   
	
}

.lblServ{
	background-color:bisque;
	text-align: center;
	 position: relative;
	width:40%;
	padding: 10px;
	left:35%;
}